@import 'fira.scss';
$maxdays: 7;
$color1: #34ed08;
$color2: #29b2f9;

body{
	margin: 0;
	font-family: 'Fira Sans';
}
.output{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 15px;
	color: black;
}
.main{
	width: 100%;
	height: 100%;
	background: #FFF;
	position: fixed;
	top: 0px;
	left: 0px;
	.left{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 100%;
		font-size: 0px;
		direction:rtl;
		.day{
			position: relative;
			height: 100%;
			width: 100%/$maxdays;
			display: inline-block;
			vertical-align: text-top;
			font-size: 10px;
			.date{
				position: absolute;
				width: 100%;
				border-left: 2px solid rgba($color1,0.9);
				background-image: url('/images/greenStripes.png');
				background-size: 4px 4px;
				&.default{
					background-image: url('/images/blueStripes.png');
					background-position: 0px -2px;
					border-left: 2px solid rgba($color2,0.9);
				}
			}
			&:first-child{
				margin-left: 7px;
			}
		}
	}
}
.info{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	background: rgba(255,255,255,0.75);
	.bool{
		font-size: 60px;
		position: relative;
		top: 22px;
		left: 30px;
	}
	.about{
		position: absolute;;
		right: 30px;
		top: 20px;
	}
}