@font-face {
  font-family: 'Fira Sans';
  src: url("eot/FiraSans-Light.eot");
  src: local("Fira Sans Light"), url("eot/FiraSans-Light.eot") format("embedded-opentype"), url("woff/FiraSans-Light.woff") format("woff"), url("ttf/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url("eot/FiraSans-LightItalic.eot");
  src: local("Fira Sans Light Italic"), url("eot/FiraSans-LightItalic.eot") format("embedded-opentype"), url("woff/FiraSans-LightItalic.woff") format("woff"), url("ttf/FiraSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Fira Sans';
  src: url("eot/FiraSans-Regular.eot");
  src: local("Fira Sans Regular"), url("eot/FiraSans-Regular.eot") format("embedded-opentype"), url("woff/FiraSans-Regular.woff") format("woff"), url("ttf/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url("eot/FiraSans-RegularItalic.eot");
  src: local("Fira Sans Regular Italic"), url("eot/FiraSans-RegularItalic.eot") format("embedded-opentype"), url("woff/FiraSans-RegularItalic.woff") format("woff"), url("ttf/FiraSans-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Fira Sans';
  src: url("eot/FiraSans-Medium.eot");
  src: local("Fira Sans Medium"), url("eot/FiraSans-Medium.eot") format("embedded-opentype"), url("woff/FiraSans-Medium.woff") format("woff"), url("ttf/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url("eot/FiraSans-MediumItalic.eot");
  src: local("Fira Sans Medium Italic"), url("eot/FiraSans-MediumItalic.eot") format("embedded-opentype"), url("woff/FiraSans-MediumItalic.woff") format("woff"), url("ttf/FiraSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Fira Sans';
  src: url("eot/FiraSans-Bold.eot");
  src: local("Fira Sans Bold"), url("eot/FiraSans-Bold.eot") format("embedded-opentype"), url("woff/FiraSans-Bold.woff") format("woff"), url("ttf/FiraSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url("eot/FiraSans-BoldItalic.eot");
  src: local("Fira Sans Bold Italic"), url("eot/FiraSans-BoldItalic.eot") format("embedded-opentype"), url("woff/FiraSans-BoldItalic.woff") format("woff"), url("ttf/FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Fira Mono';
  src: url("eot/FiraMono-Regular.eot");
  src: local("Fira Mono"), url("eot/FiraMono-Regular.eot") format("embedded-opentype"), url("woff/FiraMono-Regular.woff") format("woff"), url("ttf/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Fira Mono';
  src: url("eot/FiraMono-Bold.eot");
  src: local("Fira Mono Bold"), url("eot/FiraMono-Bold.eot") format("embedded-opentype"), url("woff/FiraMono-Bold.woff") format("woff"), url("ttf/FiraMono-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

body {
  margin: 0;
  font-family: 'Fira Sans'; }

.output {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 15px;
  color: black; }

.main {
  width: 100%;
  height: 100%;
  background: #FFF;
  position: fixed;
  top: 0px;
  left: 0px; }
  .main .left {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 0px;
    direction: rtl; }
    .main .left .day {
      position: relative;
      height: 100%;
      width: 14.28571%;
      display: inline-block;
      vertical-align: text-top;
      font-size: 10px; }
      .main .left .day .date {
        position: absolute;
        width: 100%;
        border-left: 2px solid rgba(52, 237, 8, 0.9);
        background-image: url("/images/greenStripes.png");
        background-size: 4px 4px; }
        .main .left .day .date.default {
          background-image: url("/images/blueStripes.png");
          background-position: 0px -2px;
          border-left: 2px solid rgba(41, 178, 249, 0.9); }
      .main .left .day:first-child {
        margin-left: 7px; }

.info {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.75); }
  .info .bool {
    font-size: 60px;
    position: relative;
    top: 22px;
    left: 30px; }
  .info .about {
    position: absolute;
    right: 30px;
    top: 20px; }
